@using Microsoft.AspNetCore.Html
@using StreamOr.Core.Contracts
@model RadioPlayerViewModel
@inject IRadioService radioService
@{
    ViewBag.Title = "Radio Player";
}


<div b-59i2a63ekl class="container">
    <main b-59i2a63ekl role="main" class="pb-3">
        <h1 class="text-success">@ViewBag.Title</h1>
        <br />
        <br />
        <body class="bg-dark">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 bg-black">
                        <img src="@Model.LogoUrl" class="img-fluid rounded-start" alt="..." style="min-width:250px;">
                        <div class="card-footer bg-white d-flex justify-content-between align-items-start gap-3">
                            <form asp-action="EditIsFavorite" method="post">
                                @if (Model.IsFavorite == "false")
                                {
                                    <input id="addToFav" asp-controller="RadioPlayer" asp-action="EditIsFavorite" asp-route-id="@Model.Id" type="submit" title="Add @Model.Title to your favorite radio stations" class="btn btn-dark" value="🤍" onclick="AddToFavorite()" />
                                }
                                else
                                {
                                    <input id="removeFromFav" asp-controller="RadioPlayer" asp-action="EditIsFavorite" asp-route-id="@Model.Id" type="submit" title="Remove @Model.Title from your favorite radio stations" class="btn btn-dark" value="💚" onclick="RemoveFromFavorite()" />
                                }
                            </form>
                            <a asp-controller="RadioPlayer" asp-action="PlayInNewTab" asp-route-url="@Model.Url" class="btn text-warning btn-dark">Play in new tab</a>
                            <a asp-controller="RadioPlayer" asp-action="GetPlaylist" asp-route-id="@Model.Id" class="btn text-warning btn-dark" title="Play in local player (etc. VLC, Winamp, WMP ...)">Download .m3u</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        
                        <div class="card-body">
                            <h5 class="card-title fs-2">@Model.Title</h5>
                            <p class="card-text fs-5">@Model.Genre</p>
                            <p class="card-text"><small class="text-body-secondary">@Model.Description</small></p>
                            <p class="card-text">@Model.Bitrate<small class="text-body-secondary"> Kbps</small></p>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <label id="streamT" class="text-black fs-4">@await radioService.GetStreamTitle(Model.Url)</label>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <audio class="w-100" src="@Model.Url" controls autoplay></audio>
                    </div>
                </div>
            </div>
        </body>
    </main>
</div>


@section Scripts{
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/lib/toastr/toastr.min.js"></script>
    
    <script>
        function AddToFavorite(){
            toastr.success('This radio is now favorite!');
        }
        function RemoveFromFavorite() {
            toastr.error('This radio is removed from favorites!');
        }
    </script>
}


